<div class="card w-75 bimg" >
    <div class="card-body">
        <h5 class="card-title">Introduction</h5>
        <p class="card-text">
            Angular is a platform that makes it easy to build applications with the web.
            Angular combines declarative templates, dependency injection, end to end tooling, and
            integrated best practices to solve development challenges.
            Angular empowers developers to build applications that live on the web, mobile, or the desktop
        </p>
    </div>
</div>